@model ShinyShop.ViewModels.CreateMessageViewModel
@{
    ViewData["Title"] = "CreateMessage";
}

<h2>Create Message</h2>

<form asp-action="CreateMessage" asp-controller="Profile" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div class="col-md-7">
        <div class="form-group">
            <label asp-for="Recipient" class="control-label">Recipient</label>
            <input type="text" asp-for="Recipient" class="form-control" />
            <label asp-for="Message" class="control-label">Message</label>
            <textarea type="text" asp-for="Message" class="form-control" style="resize: none; height: 400px;"></textarea>
        </div>
        <div>
            <input type="submit" value="Send" class="btn btn-outline-dark" />
        </div>
    </div>
</form>

