@model ShinyShop.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Edit Password";
}

<h1>Change Password</h1>

<form asp-action="EditPassword" asp-controller="Profile" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="CurrentPassword" class="control-label">Current Password</label>
            <input type="password" asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label">New Password</label>
            <input type="password" asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPasswordConfirm" class="control-label">Confirm New Password</label>
            <input type="password" asp-for="NewPasswordConfirm" class="form-control" />
            <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" value="Save Changes" class="btn btn-success" />
        </div>
    </div>
</form><br />

<div class="col-md-4">
    <a asp-action="Index">Back to my profile</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
