@model IEnumerable<ShinyShop.Models.NFT>

@{
    ViewData["Title"] = "MyNFTs";
}

<h2>My NFTs</h2>
@if (Model.Count() <= 0)
{
    <h4>You don't have any NFTs</h4>
}
else
{
    <div class="row">
        @foreach (var nft in Model)
        {
            <div class="column" style="float: left; width: 20%; margin-bottom: 30px; text-align: center;">
                <img src="@nft.ImageData" style="width: 80%; padding: 2px; border: 5px solid #000;" />
                <div style="padding: 5px;">
                    <a class="btn btn-primary" asp-action="Details" asp-controller="NFT" asp-route-id="@nft.Id" style="font-size: 15px;">@nft.ImageName | @nft.Id</a>
                </div>
            </div>
        }
    </div>
}
